<!DOCTYPE HTML>
[#include "../include/taglibs.html"/]
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>修改登录用户密码</title>
    [#include "../include/base_js_css.html"/]
    <link rel="stylesheet" type="text/css" href="${ctxpathcss!}/frame-dialog.css">
    <link rel="stylesheet" type="text/css" href="${resource!}/css/user/user.css">
    <script type="text/javascript" src="${resource!}/js/mainPage/modifyPassword.js"></script>
  </head>
  <body style="visibility: visible;">
   
    <!-- 添加用户模块 -->
    <div id="modify_password_dlg" class="easyui-dialog" title="登录用户信息修改" style="width: 500px; height: 300px; padding: 10px 20px" buttons="#dlg-buttons">
      <form id="fm" method="post" novalidate>
        <div class="fitem">
          <label for="oldPassword">旧密 码:</label> 
          <input name="oldPassword"  id="oldPassword" class="easyui-validatebox" type="password"  required="true"  validType="remote['${ctx!}/mainPage/uniquePassword.json','oldPassword']" invalidMessage="旧密码输入有误" >
        </div>
        <div class="fitem">
          <label for="password">新密 码:</label> 
          <input name="password" required="true" id="password" type="password" class="easyui-validatebox"  validType="minLength[6]" missingMessage="请输入密码.">
        </div>
        <div class="fitem">
          <label for="repeatPassword">再次输入密 码:</label> 
          <input name="repeatPassword" required="true" id="repeatPassword" type="password" class="easyui-validatebox" validType="equalTo['#password']" invalidMessage="两次输入密码不匹配">
        </div>
      </form>
      
     <div id="dlg-buttons">
      <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-ok" onclick="javascript:modifyPassword()">保存</a> 
      <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-cancel" onclick="javascript:$('#modify_password_dlg').dialog('close')">取消</a>
    </div>
    </div>
   
  </body>
</html>