<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:jdbc="http://www.springframework.org/schema/jdbc"
	xmlns:p="http://www.springframework.org/schema/p" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd">
	
	<!-- 扫描mapper.java  -->
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer" autowire="byName">    
	    <property name="basePackage" value="com.hshc.sale.dao.**.*" />
	    <property name="sqlSessionFactoryBeanName" value="commonSqlSessionFactory"/>
	</bean>
</beans>