<meta charset="utf-8">
<!-- JS -->
<script src="${resource!}/material_admin/vendors/bower_components/jquery/dist/jquery.min.js"></script>
<script src="${resource!}/material_admin/vendors/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<!--<script src="${resource!}/material_admin/vendors/bower_components/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js"></script>-->
<script src="${resource!}/material_admin/vendors/bower_components/Waves/dist/waves.min.js"></script>
<script src="${resource!}/material_admin/vendors/bower_components/sweetalert/dist/sweetalert.js"></script>
<!--<script src="${resource!}/material_admin/vendors/bower_components/jquery-placeholder/jquery.placeholder.min.js"></script>-->

<script src="${resource!}/material_admin/vendors/bootstrap-growl/bootstrap-growl.min.js"></script>
<script src="${resource!}/material_admin/vendors/bootgrid/jquery.bootgrid.updated.min.js"></script>
<script src="${resource!}/material_admin/vendors/bower_components/moment/min/moment.min.js"></script>
<script src="${resource!}/material_admin/vendors/bower_components/bootstrap-select/dist/js/bootstrap-select.js"></script>
<script src="${resource!}/material_admin/vendors/bower_components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
<script src="${resource!}/js/layer/laydate/laydate.js"></script>
<script src="${resource!}/js/layer/layer.min.js"></script>

<script src="${resource!}/material_admin/js/functions.js"></script>
<script src="${resource!}/js/btPage.js"></script>
<script src="${resource!}/material_admin/js/public.js"></script>
<script src="${resource!}/material_admin/js/jquery-html5Validate.js"></script>

<script src="${resource!}/js/common/date.js" type="text/javascript"></script>
<!--<script src="${resource!}/js/common/querySelect.js" type="text/javascript"></script>-->
