<style type="text/css">
*{
	font-size:12px;
}
</style>
<center>
	<table width="100%" border="0" cellspacing="0" cellpadding="0">
		<tr>
			<td width="100%" height="30" align="center" colspan="2">
				欢迎使用wh管理系统
			</td>
		</tr>
		<tr>
			<td width="48%" height="30" align="right">
				作者：
			</td>
			<td height="30">
				<span style="color: #0078ff;">生命之舟</span>
			</td>
		</tr>
		<tr>
			<td width="48%" height="30" align="right">
				职务：
			</td>
			<td height="30">
				<span style="color: #0078ff;">系统架构师</span>
			</td>
		</tr>
		<tr>
			<td width="48%" height="30" align="right">
				E-MAIL：
			</td>
			<td height="30">
				<span style="color: #0078ff;">itorac@sina.com.cn</span>
			</td>
		</tr>
		<tr>
			<td width="48%" height="30" align="right">
				WEB：
			</td>
			<td height="30">
				<span style="color: #0078ff;"><a href="http://www.aijava.com" target="_blank" style="text-decoration: none;">http://www.aijava.com</a></span>
			</td>
		</tr>
	</table>
</center>
