[@oscache.cache key="__oscache_wh_js_css" time=30]
<link rel="stylesheet" type="text/css" href="${ui_url!}/lib/easyui/themes/${themes}/easyui.css">
<link rel="stylesheet" type="text/css" href="${ui_url!}/lib/easyui/themes/icon.css">
<link rel="stylesheet" type="text/css" href="${ui_url!}/css/easyui/main.css">
<link rel="stylesheet" type="text/css" href="${resource!}/material_admin/vendors/bower_components/bootstrap-sweetalert/lib/sweet-alert.css">
<script type="text/javascript" src="${ui_url!}/lib/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="${ui_url!}/lib/ui.common.js"></script>
<script type="text/javascript" src="${ui_url!}/lib/json2.js"></script>
<script type="text/javascript" src="${ui_url!}/lib/easyui/jquery.easyui.min.js"></script>
<script type="text/javascript" src="${ui_url!}/lib/easyui/locale/easyui-lang-zh_CN.js"></script>
<script type="text/javascript" src="${ui_url!}/lib/card.js"></script>
<script type="text/javascript" src="${ui_url!}/lib/easyui/extend/easyui.extend.js"></script>
<script type="text/javascript" src="${resource!}/js/common.js"></script>
<script type="text/javascript" src="${resource!}/js/common/date.js"></script>

<!-- alert 弹出框 -->
<script type="text/javascript" src="${resource!}/material_admin/vendors/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script type="text/javascript" src="${resource!}/material_admin/vendors/bower_components/bootstrap-sweetalert/lib/sweet-alert.min.js"></script>
<!-- js 公共方法 -->
<script type="text/javascript" src="${resource!}/material_admin/js/public.js"></script>
[/@oscache.cache]